@import './../../scss/global';

.Tag {
  display: inline-flex;
  align-items: center;
  padding: map-get($spacers, 'sm') map-get($spacers, 'sm');
  height: 1.5rem;
  margin: map-get($spacers, 'xs');
  white-space: nowrap;
  border-radius: 50rem;
  font-family: $base-font-family;
  font-size: 0.75rem;
  font-weight: 300;
  &_wrap {
    white-space: normal;
  }
  &:not(:first-child) {
    margin-left: 0;
  }
  @each $theme, $shades in $color-shades {
    &_#{$theme} {
      color: map-get($shades, '#{$theme}-600');
      background-color: map-get($shades, '#{$theme}-100');
    }
  }
}
