@import "./../../scss/global";

.Button {
  display: inline-block;
  line-height: initial;
  background-color: $primary;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  letter-spacing: .5px;
  border: none;
  color: $white;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;

  @each $theme, $color in $theme-colors {
    &_#{$theme} {
      border: solid 2px $color;
      background-color: $color;
    }
  }

  &_disabled {
    background-color: map-get($primary_states, "disabled");
    cursor: not-allowed;
    pointer-events:none;
  }

  @each $state, $color in $primary_states {
    &:#{$state} {
      background-color: $color;
    }
  }

  @each $name, $value in $btn-paddings {
    &_#{$name} {
      @each $n, $v in $value {
        @if $n == "x" {
          padding-left: $v;
          padding-right: $v;
        }
        @if $n == "y" {
          padding-top: $v;
          padding-bottom: $v;
        }
      }
    }
  }

  @each $name, $value in $all_border_radius {
    &_borderRadius_#{$name} {
      border-radius: $value;
    }
  }


}