@import './../../scss/global';

.ReadMore {
  // max-height: 400px;
  overflow: hidden;
  transition: all 0.3s;
  font-family: $base-font-family;
  &[aria-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
  }
  .content {
    transition: all 0.3s;
    transition-timing-function: ease-out;

    padding-bottom: $spacer-2xs;
  }
  &_fade {
    position: relative;
    .content {
      position: relative;
      overflow: hidden;
      margin-bottom: $spacer-xs;
      &:after {
        content: '';
        position: absolute;
        display: block;
        z-index: 10;
        outline: 0;
        height: 4em;
        width: 100%;
        transition: all 1s;
        opacity: 1;
        bottom: -5px;
        background: -webkit-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        background-image: -moz-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        background-image: -o-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        background-image: linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        background-image: -ms-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
      }
    }
  }
  &_max_collapsed_height {
    .content {
      overflow: hidden;
      transition: all 0.3s;
      transition-timing-function: ease-out;
    }
  }
  &_expanded {
    .content {
      transition: all 0.3s;
      transition-timing-function: ease-out;

      margin-bottom: 0;
      &:after {
        opacity: 0;
      }
    }
  }
}
