@mixin typography {
  strong {
    font-weight: 600;
  }

  p {
    @include line-height('body');
    font-weight: 400;
  }

  em {
    font-style: italic;
  }

  h1 {
    @include line-height('heading');
    font-weight: 600;
  }

  h2 {
    @include line-height('heading');
    font-weight: 600;
  }

  h3 {
    @include line-height('heading');
    font-weight: 600;
  }

  h4 {
    @include line-height('heading');
    font-weight: 600;
  }

  h5 {
    @include line-height('heading');
    font-weight: 600;
  }

  h6 {
    @include line-height('heading');
    font-weight: 600;
  }
}
