@import 'functions';
// Theme Colours
$primary: #5583ba;
$secondary: #898e8c;
$success: #30d5c8;
$info: #ffa500;
$warning: #f1dd38;
$danger: #d73b3e;
$light: #fffff0;
$dark: #614e6e;

$theme-colors: (
  'primary': $primary,
  'primary-outline': $primary,
  'secondary': $secondary,
  'secondary-outline': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$states: ('default', 'active', 'hover', 'focus', 'disabled');

$primary-100: tint($primary, 80%);
$primary-200: tint($primary, 60%);
$primary-300: tint($primary, 40%);
$primary-400: tint($primary, 20%);
$primary-500: $primary;
$primary-600: shade($primary, 20);
$primary-700: shade($primary, 40);
$primary-800: shade($primary, 50);
$primary-900: shade($primary, 60);

$primary_shades: (
  'primary-100': $primary-100,
  'primary-200': $primary-200,
  'primary-300': $primary-300,
  'primary-400': $primary-400,
  'primary-500': $primary-500,
  'primary-600': $primary-600,
  'primary-700': $primary-700,
  'primary-800': $primary-800,
  'primary-900': $primary-900,
);

$primary_states: (
  'default': $primary-500,
  'active': $primary-700,
  'hover': $primary-600,
  'focus': $primary-700,
  'disabled': $primary-200,
);

$primary_outline_states: (
  'default': #fff,
  'active': $primary-500,
  'hover': $primary-500,
  'focus': $primary-500,
  'disabled': $primary-100,
);

$secondary-100: tint($secondary, 80%);
$secondary-200: tint($secondary, 60%);
$secondary-300: tint($secondary, 40%);
$secondary-400: tint($secondary, 20%);
$secondary-500: $secondary;
$secondary-600: shade($secondary, 20);
$secondary-700: shade($secondary, 40);
$secondary-800: shade($secondary, 50);
$secondary-900: shade($secondary, 60);

$secondary_shades: (
  'secondary-100': $secondary-100,
  'secondary-200': $secondary-200,
  'secondary-300': $secondary-300,
  'secondary-400': $secondary-400,
  'secondary-500': $secondary-500,
  'secondary-600': $secondary-600,
  'secondary-700': $secondary-700,
  'secondary-800': $secondary-800,
  'secondary-900': $secondary-900,
);

$secondary_states: (
  'default': $secondary-500,
  'active': $secondary-700,
  'hover': $secondary-600,
  'focus': $secondary-700,
  'disabled': $secondary-200,
);

$secondary_outline_states: (
  'default': #fff,
  'active': $secondary-500,
  'hover': $secondary-500,
  'focus': $secondary-500,
  'disabled': $secondary-100,
);

$success-100: tint($success, 80%);
$success-200: tint($success, 60%);
$success-300: tint($success, 40%);
$success-400: tint($success, 20%);
$success-500: $success;
$success-600: shade($success, 20);
$success-700: shade($success, 40);
$success-800: shade($success, 50);
$success-900: shade($success, 60);

$success_shades: (
  'success-200': $success-200,
  'success-300': $success-300,
  'success-100': $success-100,
  'success-400': $success-400,
  'success-500': $success-500,
  'success-600': $success-600,
  'success-700': $success-700,
  'success-800': $success-800,
  'success-900': $success-900,
);

$success_states: (
  'default': $success-500,
  'active': $success-700,
  'hover': $success-600,
  'focus': $success-700,
  'disabled': $success-200,
);

$info-100: tint($info, 80%);
$info-200: tint($info, 60%);
$info-300: tint($info, 40%);
$info-400: tint($info, 20%);
$info-500: $info;
$info-600: shade($info, 20);
$info-700: shade($info, 40);
$info-800: shade($info, 50);
$info-900: shade($info, 60);

$info_shades: (
  'info-200': $info-200,
  'info-300': $info-300,
  'info-100': $info-100,
  'info-400': $info-400,
  'info-500': $info-500,
  'info-600': $info-600,
  'info-700': $info-700,
  'info-800': $info-800,
  'info-900': $info-900,
);

$info_states: (
  'default': $info-500,
  'active': $info-700,
  'hover': $info-600,
  'focus': $info-700,
  'disabled': $info-200,
);

$warning-100: tint($warning, 80%);
$warning-200: tint($warning, 60%);
$warning-300: tint($warning, 40%);
$warning-400: tint($warning, 20%);
$warning-500: $warning;
$warning-600: shade($warning, 20);
$warning-700: shade($warning, 40);
$warning-800: shade($warning, 50);
$warning-900: shade($warning, 60);

$warning_shades: (
  'warning-200': $warning-200,
  'warning-300': $warning-300,
  'warning-100': $warning-100,
  'warning-400': $warning-400,
  'warning-500': $warning-500,
  'warning-600': $warning-600,
  'warning-700': $warning-700,
  'warning-800': $warning-800,
  'warning-900': $warning-900,
);

$warning_states: (
  'default': $warning-500,
  'active': $warning-700,
  'hover': $warning-600,
  'focus': $warning-700,
  'disabled': $warning-200,
);

$danger-100: tint($danger, 80%);
$danger-200: tint($danger, 60%);
$danger-300: tint($danger, 40%);
$danger-400: tint($danger, 20%);
$danger-500: $danger;
$danger-600: shade($danger, 20);
$danger-700: shade($danger, 40);
$danger-800: shade($danger, 50);
$danger-900: shade($danger, 60);

$danger_shades: (
  'danger-200': $danger-200,
  'danger-300': $danger-300,
  'danger-100': $danger-100,
  'danger-400': $danger-400,
  'danger-500': $danger-500,
  'danger-600': $danger-600,
  'danger-700': $danger-700,
  'danger-800': $danger-800,
  'danger-900': $danger-900,
);

$danger_states: (
  'default': $danger-500,
  'active': $danger-700,
  'hover': $danger-600,
  'focus': $danger-700,
  'disabled': $danger-200,
);

$light-100: tint($light, 80%);
$light-200: tint($light, 60%);
$light-300: tint($light, 40%);
$light-400: tint($light, 20%);
$light-500: $light;
$light-600: shade($light, 20);
$light-700: shade($light, 40);
$light-800: shade($light, 50);
$light-900: shade($light, 60);

$light_shades: (
  'light-200': $light-200,
  'light-300': $light-300,
  'light-100': $light-100,
  'light-400': $light-400,
  'light-500': $light-500,
  'light-600': $light-600,
  'light-700': $light-700,
  'light-800': $light-800,
  'light-900': $light-900,
);

$light_states: (
  'default': $light-500,
  'active': $light-700,
  'hover': $light-600,
  'focus': $light-700,
  'disabled': $light-200,
);

$dark-100: tint($dark, 80%);
$dark-200: tint($dark, 60%);
$dark-300: tint($dark, 40%);
$dark-400: tint($dark, 20%);
$dark-500: $dark;
$dark-600: shade($dark, 20);
$dark-700: shade($dark, 40);
$dark-800: shade($dark, 50);
$dark-900: shade($dark, 60);

$dark_shades: (
  'dark-200': $dark-200,
  'dark-300': $dark-300,
  'dark-100': $dark-100,
  'dark-400': $dark-400,
  'dark-500': $dark-500,
  'dark-600': $dark-600,
  'dark-700': $dark-700,
  'dark-800': $dark-800,
  'dark-900': $dark-900,
);

$dark_states: (
  'default': $dark-500,
  'active': $dark-700,
  'hover': $dark-600,
  'focus': $dark-700,
  'disabled': $dark-200,
);

$theme-states: (
  'primary': $primary_states,
  'primary-outline': $primary_outline_states,
  'secondary': $secondary_states,
  'secondary-outline': $secondary_outline_states,
  'success': $success_states,
  'info': $info_states,
  'warning': $warning_states,
  'danger': $danger_states,
  'light': $light_states,
  'dark': $dark_states,
);

// Other Colors
$red: rgb(213, 35, 35);
$white: #fff;
$text-color: #1d1d1f;

// spacing
$base-spacing: 20px;
$half-spacing: $base-spacing/2;

// breakpoints
$breakpoints: (
  'xs': 374px,
  'sm': 420px,
  'md': 768px,
  'lg': 990px,
  'xl': 1200px,
  'xxl': 1600px,
);

$justifyContent: (flex-start, flex-end, center, space-between);

$alignItems: (flex-start, flex-end, center);

$border-radius-sm: 0.25rem !default;
$border-radius-md: 0.375rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.5rem !default;

$btn-padding-y-md: 0.375rem !default;
$btn-padding-x-md: 0.75rem !default;

$btn-padding-y-lg: 0.5rem !default;
$btn-padding-x-lg: 1rem !default;

$btn-paddings: (
  'sm': (
    'y': $btn-padding-y-sm,
    'x': $btn-padding-x-sm,
  ),
  'md': (
    'y': $btn-padding-y-md,
    'x': $btn-padding-x-md,
  ),
  'lg': (
    'y': $btn-padding-y-lg,
    'x': $btn-padding-x-lg,
  ),
);

$all_border_radius: (
  'sm': $border-radius-sm,
  'md': $border-radius-md,
  'lg': $border-radius-lg,
  'xl': $border-radius-xl,
  'xxl': $border-radius-xxl,
  'pill': $border-radius-pill,
);
